{% extends 'polls/base.html' %}

{% block content %}
  <body>
        <div class="container">
          <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicateurs -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
    
            <!-- Carrousel -->
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="4000">
                <img src="https://source.unsplash.com/1600x450/?library" alt="Carrousel slide 1" class="d-block w-100">
              </div>
              <div class="carousel-item" data-interval="2000">
                <img src="https://source.unsplash.com/1600x450/?book" alt="Carrousel slide 2" class="d-block w-100">
              </div>
              <div class="carousel-item" data-interval="1000">
                <img src="https://source.unsplash.com/1600x450/?read" alt="Carrousel slide 3" class="d-block w-100">
              </div>
            </div>
            
            <!-- Contrôles -->
            <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>
        </div>
    <br>
    <div class="container">
      <h2>Horaires d'ouverture</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Lundi : 08:30-19:00</li>
        <li class="list-group-item">Mardi : 08:30-19:00</li>
        <li class="list-group-item">Mercredi : 08:30-19:00</li>
        <li class="list-group-item">Jeudi : 08:30-19:00</li>
        <li class="list-group-item">Vendredi : 08:30-19:00</li>
        <li class="list-group-item">Samedi : 10:00-16:00</li>
      </ul>
    </div>
  </body>

{% endblock %}