<h1>Informations pratiques</h1>

<h2>Horaires d'ouverture</h2>
<h3>Lundi</h3>
<div>08:30-19:00</div>
<h3>Mardi</h3>
<div>08:30-19:00</div>
<h3>Mercredi</h3>
<div>08:30-19:00</div>
<h3>Jeudi</h3>
<div>08:30-19:00</div>
<h3>Vendredi</h3>
<div>08:30-19:00</div>
<h3>Samedi</h3>
<div>10:00-16:00</div>

<br/>
<h2>Contact</h2>
<p>Manon Schieber <a href="mailto:manon.schieber@ecl19.ec-lyon.fr"> manon.schieber@ecl19.ec-lyon.fr </a> </p>
<p>Clémentine Le Tohic <a href="mailto:clementine.le-tohic@ecl18.ec-lyon.fr"> clementine.le-tohic@ecl18.ec-lyon.fr </a> </p>