{% extends 'polls/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<h3>Mes emprunts en cours</h3>

{% if emprunts|length_is:"0" %}
    <div class="text-center">
      Vous n'avez aucun emprunt en cours. 
    </div>

{% else %}
<table class="table" style="table-layout: fixed; width: 98%; margin:auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Emprunté le</th>
      <th scope="col">A rendre avant le</th>
      <th scope="col"></th>
    </tr>
    <tbody>
      {% for emprunt in emprunts %} 
      <tr>
        <th scope="row"><a href="{% url 'polls:detail' pk=emprunt.id %}" class="list-group-item-action">{{emprunt.titre}}</a></th>
        <td>{{emprunt.nomAuteur}} {{emprunt.prenomAuteur}}</td>
        <td>{{emprunt.emprunte_le}}</td>
        <td>{{emprunt.retour_max_le}}</td>
        <td>
          {% if emprunt.en_retard %} <span class="bg-danger p-1 px-4 rounded text-white">En retard</span>
          {% else %} 
          {% endif %} 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>
{% endif %}

{% else %}
<p>Connectez vous pour accéder à vos emprunts en cours.</p>

{% endif %}

{% endblock %}