{% extends 'polls/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if reservation_done == 'success' %}

        <div> Vous avez réservé {{titre}}, il vous attend à la bibliothèque !</div>

    {% elif reservation_done == 'blacklist' %}

        <div> Vous êtes blacklisté, vous ne pouvez pas réserver ce livre. </div>

    {% elif reservation_done == 'livre_non_dispo' %}

        <div> Ce livre n'est actuellement pas disponible à la réservation. </div>

    {% elif reservation_done == 'max_livre' %}

        <div> Vous avez dépassé le nombre d'emprunts maximal de livres. </div>

    {% elif reservation_done == 'max_docs' %}

        <div> Vous avez dépassé le nombre d'emprunts maximal. </div>

    {% else %}

    {% endif %}

{% else %} 
    <div> Veuillez vous connecter pour réserver ce livre. </div>

{% endif %}

{% endblock %}