{% extends 'polls/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<p>Mes réservations en cours :{{infos}}</p>

{% if reservations|length_is:"0" %}
    <div class="text-center">
      Vous n'avez aucune réservation en cours. 
    </div>

{% else %}
<div class="list-group list-group-flush">
    {% for reservation in reservations %}
            <a href="{% url 'polls:detail' pk=reservation.id %}" class="list-group-item list-group-item-action">{{reservation.titre}}</a>
    {% endfor %}
</div>
{% endif %}

{% else %}
<p>Connectez vous pour pouvoir réserver.</p>

{% endif %}

{% endblock %}